__pycache__ filter=lfs diff=lfs merge=lfs -text
input_test.py filter=lfs diff=lfs merge=lfs -text
music filter=lfs diff=lfs merge=lfs -text
new_input_test.py filter=lfs diff=lfs merge=lfs -text
utils.py filter=lfs diff=lfs merge=lfs -text
act_detector.py filter=lfs diff=lfs merge=lfs -text
datapathset.py filter=lfs diff=lfs merge=lfs -text
models filter=lfs diff=lfs merge=lfs -text
cam_receiver filter=lfs diff=lfs merge=lfs -text
i3d_utils.py filter=lfs diff=lfs merge=lfs -text
list filter=lfs diff=lfs merge=lfs -text
images filter=lfs diff=lfs merge=lfs -text
input_data.py filter=lfs diff=lfs merge=lfs -text
new_utils.py filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
experiments filter=lfs diff=lfs merge=lfs -text
i3d.py filter=lfs diff=lfs merge=lfs -text
models/flow filter=lfs diff=lfs merge=lfs -text
models/rgb filter=lfs diff=lfs merge=lfs -text
models/flow/i3d_ucf_model-2399.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
models/flow/i3d_ucf_model-2399.index filter=lfs diff=lfs merge=lfs -text
models/flow/i3d_ucf_model-2399.meta filter=lfs diff=lfs merge=lfs -text
models/rgb/i3d_ucf_model-2399.index filter=lfs diff=lfs merge=lfs -text
models/rgb/i3d_ucf_model-2399.meta filter=lfs diff=lfs merge=lfs -text
models/rgb/i3d_ucf_model-2399.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
cam_receiver/_multiprocessing.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-crt-runtime-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-crt-time-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_fuzzy342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/ucrtbase.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-debug-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/libpng16.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-errorhandling-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_core342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_optflow342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_shape342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_stitching342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_text342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/_lzma.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-interlocked-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_xfeatures2d342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/MSVCP140.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-util-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-crt-convert-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-crt-environment-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/mfc140u.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/pywintypes37.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-file-l2-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-heap-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-crt-locale-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/lib2to3 filter=lfs diff=lfs merge=lfs -text
cam_receiver/mkl_rt.1.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-file-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/mkl_msg.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_line_descriptor342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/scipy filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-namedpipe-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-processenvironment-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/liblzma.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_rgbd342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/win32com filter=lfs diff=lfs merge=lfs -text
cam_receiver/_socket.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/libcrypto-1_1-x64.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/numpy filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_calib3d342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_features2d342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/select.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-memory-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_img_hash342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/_queue.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-libraryloader-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_dnn342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_video342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/_ctypes.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-datetime-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/base_library.zip filter=lfs diff=lfs merge=lfs -text
cam_receiver/cam_receiver.exe.manifest filter=lfs diff=lfs merge=lfs -text
cam_receiver/pyexpat.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-crt-process-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_surface_matching342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-crt-math-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_ximgproc342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/zlib.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_face342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_reg342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/VCRUNTIME140_1.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/_hashlib.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-sysinfo-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/tcl86t.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/CONCRT140.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/tiff.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/win32api.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-handle-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-processthreads-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-processthreads-l1-1-1.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_highgui342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_photo342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/tk filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-string-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-synch-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-crt-heap-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/mkl_def.1.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/tcl filter=lfs diff=lfs merge=lfs -text
cam_receiver/win32evtlog.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/win32pdh.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/_ssl.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/cam_receiver.exe filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_imgcodecs342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/zstd.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/_tkinter.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_phase_unwrapping342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_xphoto342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_objdetect342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/_bz2.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-timezone-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-crt-conio-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-crt-string-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-crt-utility-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/images filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_flann342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-console-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_ml342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_plot342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/_decimal.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/_testcapi.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-localization-l1-2-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/python37.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/_elementtree.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/mkl_intel_thread.1.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_bgsegm342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_structured_light342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_tracking342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/_win32sysloader.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-crt-multibyte-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_imgproc342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/Include filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-file-l1-2-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-synch-l1-2-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/mkl filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_saliency342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/tk86t.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-profile-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-core-rtlsupport-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/unicodedata.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/win32trace.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-crt-filesystem-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/api-ms-win-crt-stdio-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/cv2.cp37-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/libssl-1_1-x64.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_aruco342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/pythoncom37.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/win32ui.pyd filter=lfs diff=lfs merge=lfs -text
cam_receiver/VCRUNTIME140.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/mkl_core.1.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_ccalib342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_hfs342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/opencv_videoio342.dll filter=lfs diff=lfs merge=lfs -text
cam_receiver/win32wnet.pyd filter=lfs diff=lfs merge=lfs -text
